NODE_ENV=development
SERVICE_NAME=api-gateway
PORT=8080
AUTH_SERVICE_URL=http://127.0.0.1:4010
CUSTOMER_SERVICE_URL=http://127.0.0.1:4020
LEDGER_SERVICE_URL=http://127.0.0.1:4040
TRANSFER_SERVICE_URL=http://127.0.0.1:4060
NOTIFICATIONS_SERVICE_URL=http://127.0.0.1:4100
OPERATIONS_SERVICE_URL=http://127.0.0.1:4120
UPSTREAM_TIMEOUT_MS=5000
