NODE_ENV=development
SERVICE_NAME=notifications-service
PORT=4100
NOTIFICATIONS_DELIVERY_MODE=memory
REDIS_URL=
NOTIFICATIONS_QUEUE_REDIS_URL=
NOTIFICATIONS_QUEUE_URL=
AWS_ENDPOINT_URL_SQS=
AWS_REGION=eu-west-2
