NODE_ENV=development
SERVICE_NAME=customer-service
PORT=4020
KYC_AUTO_APPROVE=true
KYC_ARTIFACT_STORAGE_REQUIRED=false
KYC_PROVIDER_MODE=policy
KYC_PROVIDER_BASE_URL=
KYC_PROVIDER_API_KEY=
KYC_PROVIDER_API_SECRET=
KYC_PROVIDER_RETURN_URL=
KYC_APPROVE_COUNTRIES=US,GB,CA,IE,DE,FR,ES,NL
KYC_REVIEW_COUNTRIES=NG,BR,PK,TR,ZA
KYC_REJECT_COUNTRIES=IR,KP,SY,CU
